$font: 1rem;
$border-thick: 0.2rem;
$border-radius: 0.4rem;
$header-height: 2rem;
$header-p: 0 2rem;
$footer-height: 2rem;
$footer-p: 0 1rem;
$btn-p-x: 0.8rem;
$btn-p-y: 0.4rem;
$litem-p-x: 0.5rem;
$litem-p-y: 0.2rem;
$form-m: 2rem auto 0;
$form-p: 0.4rem;
$form-sect-m: 0.5rem;
$modal-p: 0.6rem;
$modal-size: 30rem;
$module-p: 0.5rem 1rem;
$input-p-x: 0.8rem;
$input-p-y: 0.4rem;
